@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');

$main-color: #0079BF;
$main-color-hover: #004d79;
$color-light: #fff;
$color-light-hover: #e0efff;
$color-light-gray: #CBCBCB;
$color-gray: #979cb0;
$color-dark: #000;
$color-important: #bf0000;
$color-important-hover: #9e0000;